<a href="https://colab.research.google.com/github/johnboscoimmanuel/johnboscoimmanuel/blob/main/Mongodb_Telephone_directory_CRUD_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
#importing libraries
from pymongo import MongoClient

In [35]:
# mongodb cloud connection
mycon=MongoClient('mongodb://john:Abcd1234@cluster0-shard-00-00.vjntr.mongodb.net:27017,cluster0-shard-00-01.vjntr.mongodb.net:27017,cluster0-shard-00-02.vjntr.mongodb.net:27017/?ssl=true&replicaSet=atlas-3g6ggh-shard-0&authSource=admin&retryWrites=true&w=majority')

In [36]:
#list of database
mycon.list_database_names()

['sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'tele_directory',
 'admin',
 'local']

In [37]:
#connection statistics  
mycon.stats

Database(MongoClient(host=['cluster0-shard-00-01.vjntr.mongodb.net:27017', 'cluster0-shard-00-00.vjntr.mongodb.net:27017', 'cluster0-shard-00-02.vjntr.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-3g6ggh-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'stats')

In [38]:
#creaating database
db=mycon['tele_directory']

In [39]:
#creating collection
person_coll=db['persons']

In [40]:
# inserting record
dic={'Name':'Arun','Phone number':9874623900,'Place':'chennai'}
x=person_coll.insert_one(dic)
print(x)

<pymongo.results.InsertOneResult object at 0x7fce83911590>

In [41]:
#inserting record into the colletion
dic=[{'Name':'albert','Phone number':8874659080,'Place':'ooty'},
     {'Name':'nandha','Phone number':6745907923,'Place':'coonoor'},
     {'Name':'saran','Phone number':98657839030,'Place':'delhi'},
     {'Name':'raj','Phone number':8884953210,'Place':'mumbai'},
     {'Name':'kumar','Phone number':8489085372,'Place':'bangalore'},
     {'Name':'vincent','Phone number':9876543212,'Place':'goa'},
     {'Name':'vishal','Phone number':7896543120,'Place':'bihar'},
     {'Name':'vijay','Phone number':8907431267,'Place':'sikkim'},
     {'Name':'surya','Phone number':8546790356,'Place':'punjab'},
     {'Name':'kamel','Phone number':9008076809,'Place':'tamil nadu'},
     {'Name':'rajini','Phone number':8987970900,'Place':'bangalore'},
     {'Name':'vikram','Phone number':8784342567,'Place':'kerala'},
     {'Name':'simbu','Phone number':9865443323,'Place':'tamil nadu'},
     {'Name':'bala','Phone number':9489696748,'Place':'goa'}]

person_coll.insert_many(dic)

In [42]:
#find the all records
list(person_coll.find())

[{'_id': ObjectId('633fbaec7d2410cf27d4e0bf'),
  'Name': 'Arun',
  'Phone number': 9874623900,
  'Place': 'chennai'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c0'),
  'Name': 'albert',
  'Phone number': 8874659080,
  'Place': 'ooty'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c1'),
  'Name': 'nandha',
  'Phone number': 6745907923,
  'Place': 'coonoor'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c2'),
  'Name': 'saran',
  'Phone number': 9865335200,
  'Place': 'delhi'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c3'),
  'Name': 'raj',
  'Phone number': 8884953210,
  'Place': 'mumbai'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c4'),
  'Name': 'kumar',
  'Phone number': 8489085372,
  'Place': 'bangalore'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c5'),
  'Name': 'vincent',
  'Phone number': 9876543212,
  'Place': 'goa'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c6'),
  'Name': 'vishal',
  'Phone number': 7896543120,
  'Place': 'bihar'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c7'),
  'Name': 'vijay',
  'Phone number': 8907431267,
  'Place': 'sikkim'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c8'),
  'Name': 'surya',
  'Phone number': 8546790356,
  'Place': 'punjab'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c9'),
  'Name': 'kamel',
  'Phone number': 9008076809,
  'Place': 'tamil nadu'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0ca'),
  'Name': 'rajini',
  'Phone number': 8987970900,
  'Place': 'bangalore'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0cb'),
  'Name': 'vikram',
  'Phone number': 8784342567,
  'Place': 'kerala'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0cc'),
  'Name': 'simbu',
  'Phone number': 9865443323,
  'Place': 'tamil nadu'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0cd'),
  'Name': 'bala',
  'Phone number': 9489696748,
  'Place': 'goa'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0cf'),
  'Name': 'Arun',
  'Phone number': 9874623900,
  'Place': 'chennai'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d0'),
  'Name': 'albert',
  'Phone number': 8874659080,
  'Place': 'ooty'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d1'),
  'Name': 'nandha',
  'Phone number': 6745907923,
  'Place': 'coonoor'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d2'),
  'Name': 'saran',
  'Phone number': 98657839030,
  'Place': 'delhi'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d3'),
  'Name': 'raj',
  'Phone number': 8884953210,
  'Place': 'mumbai'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d4'),
  'Name': 'kumar',
  'Phone number': 8489085372,
  'Place': 'bangalore'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d5'),
  'Name': 'vincent',
  'Phone number': 9876543212,
  'Place': 'goa'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d6'),
  'Name': 'vishal',
  'Phone number': 7896543120,
  'Place': 'bihar'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d7'),
  'Name': 'vijay',
  'Phone number': 8907431267,
  'Place': 'sikkim'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d8'),
  'Name': 'surya',
  'Phone number': 8546790356,
  'Place': 'punjab'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d9'),
  'Name': 'kamel',
  'Phone number': 9008076809,
  'Place': 'tamil nadu'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0da'),
  'Name': 'rajini',
  'Phone number': 8987970900,
  'Place': 'bangalore'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0db'),
  'Name': 'vikram',
  'Phone number': 8784342567,
  'Place': 'kerala'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0dc'),
  'Name': 'simbu',
  'Phone number': 9865443323,
  'Place': 'tamil nadu'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0dd'),
  'Name': 'bala',
  'Phone number': 9489696748,
  'Place': 'goa'}]

In [43]:
# find a single record
list(person_coll.find({'Name':'saran'}))

[{'_id': ObjectId('633fbe227d2410cf27d4e0c2'),
  'Name': 'saran',
  'Phone number': 9865335200,
  'Place': 'delhi'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d2'),
  'Name': 'saran',
  'Phone number': 98657839030,
  'Place': 'delhi'}]

In [44]:
#update single record
person_coll.update_one({'Name':'saran'},{'$set':{'Phone number':9876215200}})
list(person_coll.find({'Name':'saran'}))

[{'_id': ObjectId('633fbe227d2410cf27d4e0c2'),
  'Name': 'saran',
  'Phone number': 9876215200,
  'Place': 'delhi'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d2'),
  'Name': 'saran',
  'Phone number': 98657839030,
  'Place': 'delhi'}]

In [51]:
#update many records and find
person_coll.update_many({'Place':'tamil nadu'},{'$set':{'Place':'TamilNadu'}})
list(person_coll.find())

[{'_id': ObjectId('633fbaec7d2410cf27d4e0bf'),
  'Name': 'Arun',
  'Phone number': 9874623900,
  'Place': 'chennai'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c0'),
  'Name': 'albert',
  'Phone number': 8874659080,
  'Place': 'ooty'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c1'),
  'Name': 'nandha',
  'Phone number': 6745907923,
  'Place': 'coonoor'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c3'),
  'Name': 'raj',
  'Phone number': 8884953210,
  'Place': 'mumbai'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c4'),
  'Name': 'kumar',
  'Phone number': 8489085372,
  'Place': 'bangalore'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c5'),
  'Name': 'vincent',
  'Phone number': 9876543212,
  'Place': 'goa'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c6'),
  'Name': 'vishal',
  'Phone number': 7896543120,
  'Place': 'bihar'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c7'),
  'Name': 'vijay',
  'Phone number': 8907431267,
  'Place': 'sikkim'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c8'),
  'Name': 'surya',
  'Phone number': 8546790356,
  'Place': 'punjab'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c9'),
  'Name': 'kamel',
  'Phone number': 9008076809,
  'Place': 'TamilNadu'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0cb'),
  'Name': 'vikram',
  'Phone number': 8784342567,
  'Place': 'kerala'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0cc'),
  'Name': 'simbu',
  'Phone number': 9865443323,
  'Place': 'TamilNadu'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0cd'),
  'Name': 'bala',
  'Phone number': 9489696748,
  'Place': 'goa'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0cf'),
  'Name': 'Arun',
  'Phone number': 9874623900,
  'Place': 'chennai'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d0'),
  'Name': 'albert',
  'Phone number': 8874659080,
  'Place': 'ooty'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d1'),
  'Name': 'nandha',
  'Phone number': 6745907923,
  'Place': 'coonoor'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d2'),
  'Name': 'saran',
  'Phone number': 98657839030,
  'Place': 'delhi'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d3'),
  'Name': 'raj',
  'Phone number': 8884953210,
  'Place': 'mumbai'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d4'),
  'Name': 'kumar',
  'Phone number': 8489085372,
  'Place': 'bangalore'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d5'),
  'Name': 'vincent',
  'Phone number': 9876543212,
  'Place': 'goa'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d6'),
  'Name': 'vishal',
  'Phone number': 7896543120,
  'Place': 'bihar'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d7'),
  'Name': 'vijay',
  'Phone number': 8907431267,
  'Place': 'sikkim'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d8'),
  'Name': 'surya',
  'Phone number': 8546790356,
  'Place': 'punjab'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d9'),
  'Name': 'kamel',
  'Phone number': 9008076809,
  'Place': 'TamilNadu'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0da'),
  'Name': 'rajini',
  'Phone number': 8987970900,
  'Place': 'bangalore'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0db'),
  'Name': 'vikram',
  'Phone number': 8784342567,
  'Place': 'kerala'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0dc'),
  'Name': 'simbu',
  'Phone number': 9865443323,
  'Place': 'TamilNadu'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0dd'),
  'Name': 'bala',
  'Phone number': 9489696748,
  'Place': 'goa'}]

In [45]:
#find all updated records
list(person_coll.find())

[{'_id': ObjectId('633fbaec7d2410cf27d4e0bf'),
  'Name': 'Arun',
  'Phone number': 9874623900,
  'Place': 'chennai'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c0'),
  'Name': 'albert',
  'Phone number': 8874659080,
  'Place': 'ooty'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c1'),
  'Name': 'nandha',
  'Phone number': 6745907923,
  'Place': 'coonoor'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c2'),
  'Name': 'saran',
  'Phone number': 9876215200,
  'Place': 'delhi'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c3'),
  'Name': 'raj',
  'Phone number': 8884953210,
  'Place': 'mumbai'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c4'),
  'Name': 'kumar',
  'Phone number': 8489085372,
  'Place': 'bangalore'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c5'),
  'Name': 'vincent',
  'Phone number': 9876543212,
  'Place': 'goa'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c6'),
  'Name': 'vishal',
  'Phone number': 7896543120,
  'Place': 'bihar'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c7'),
  'Name': 'vijay',
  'Phone number': 8907431267,
  'Place': 'sikkim'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c8'),
  'Name': 'surya',
  'Phone number': 8546790356,
  'Place': 'punjab'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0c9'),
  'Name': 'kamel',
  'Phone number': 9008076809,
  'Place': 'tamil nadu'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0ca'),
  'Name': 'rajini',
  'Phone number': 8987970900,
  'Place': 'bangalore'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0cb'),
  'Name': 'vikram',
  'Phone number': 8784342567,
  'Place': 'kerala'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0cc'),
  'Name': 'simbu',
  'Phone number': 9865443323,
  'Place': 'tamil nadu'},
 {'_id': ObjectId('633fbe227d2410cf27d4e0cd'),
  'Name': 'bala',
  'Phone number': 9489696748,
  'Place': 'goa'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0cf'),
  'Name': 'Arun',
  'Phone number': 9874623900,
  'Place': 'chennai'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d0'),
  'Name': 'albert',
  'Phone number': 8874659080,
  'Place': 'ooty'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d1'),
  'Name': 'nandha',
  'Phone number': 6745907923,
  'Place': 'coonoor'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d2'),
  'Name': 'saran',
  'Phone number': 98657839030,
  'Place': 'delhi'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d3'),
  'Name': 'raj',
  'Phone number': 8884953210,
  'Place': 'mumbai'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d4'),
  'Name': 'kumar',
  'Phone number': 8489085372,
  'Place': 'bangalore'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d5'),
  'Name': 'vincent',
  'Phone number': 9876543212,
  'Place': 'goa'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d6'),
  'Name': 'vishal',
  'Phone number': 7896543120,
  'Place': 'bihar'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d7'),
  'Name': 'vijay',
  'Phone number': 8907431267,
  'Place': 'sikkim'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d8'),
  'Name': 'surya',
  'Phone number': 8546790356,
  'Place': 'punjab'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0d9'),
  'Name': 'kamel',
  'Phone number': 9008076809,
  'Place': 'tamil nadu'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0da'),
  'Name': 'rajini',
  'Phone number': 8987970900,
  'Place': 'bangalore'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0db'),
  'Name': 'vikram',
  'Phone number': 8784342567,
  'Place': 'kerala'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0dc'),
  'Name': 'simbu',
  'Phone number': 9865443323,
  'Place': 'tamil nadu'},
 {'_id': ObjectId('633fc1127d2410cf27d4e0dd'),
  'Name': 'bala',
  'Phone number': 9489696748,
  'Place': 'goa'}]

In [46]:
person_coll.delete_one({'Name':'saran'})

In [48]:
#delete the document
delete=person_coll.delete_one({'Name':'rajini'})

In [49]:
delete.deleted_count

1